* {
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

p {
  margin: 0;
}

#logo {
  position: relative;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 200%;
  padding: 2vh;
  /* margin-left: 6vw; */
  text-align: center;
  width: 100vw;
  color: #000;
}

#hamburger {
  position: absolute;
  float: inline-end;
  cursor: pointer;
  padding: 2vh 2vw 0 0;
  top: 0;
  right: 0;
}

.disable-scroll {
  height: 100%;
  overflow: hidden;
  pointer-events: all;
}

body {
  font-family: "Inter", sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
  top: 0;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-in;
}

.inverted-body * {
  color: #fff !important;
  background-color: #000;
}

.display-inline * {
  display: inline;
}

#main-container {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.04) 0,
      rgba(0, 0, 0, 0.04) 2px,
      transparent 1px,
      transparent
    ),
    linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.04) 0,
        rgba(0, 0, 0, 0.04) 2px,
        transparent 1px,
        transparent
      )
      9vw;
  background-size: 18vw 18vw;
  z-index: 0;
}

@media screen and (max-width: 1000px) and (min-width: 501px) {
  #main-container {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.04) 0,
        rgba(0, 0, 0, 0.04) 2px,
        transparent 1px,
        transparent
      ),
      linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.04) 0,
          rgba(0, 0, 0, 0.04) 2px,
          transparent 1px,
          transparent
        )
        9vw;
    background-size: 35vw 35vw;
    z-index: 0;
  }
}

@media screen and (max-width: 500px) {
  #main-container {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.04) 0,
        rgba(0, 0, 0, 0.04) 2px,
        transparent 1px,
        transparent
      ),
      linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.04) 0,
          rgba(0, 0, 0, 0.04) 2px,
          transparent 1px,
          transparent
        )
        9vw;
    background-size: 40vw 40vw;
    z-index: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
}

a:hover {
  color: #f8721b !important;
}

a:visited {
  color: #000;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* NavBar */
.nav-bar {
  top: 0;
  position: sticky;
  text-align: center;
  background-color: #fff;
}

#menu {
  position: fixed;
  width: 100%;
  max-width: 100%;
  min-height: 80vh;
  max-height: 100vh;
  display: flex;
  color: #fff;
  font-size: 1.6vw;
  padding-top: 2vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20%;
}

#menu ul {
  padding-top: 1vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #000;
  top: 0;
  left: 0;
}

.nav-item {
  font-size: 5vw;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  display: inline;
  cursor: pointer;
  font-weight: 700;
}

.nav-item:hover {
  font-style: italic;
  color: #f8721b;
}

#menu-footer {
  position: fixed;
  bottom: 5vh;
  left: 5vw;
  display: flex;
  color: #fff;
  flex-direction: row;
  padding-top: 2vh;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3vw;
  line-height: 2vw;
}

.menu-footer-section {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 1.8vw;
  width: 100%;
  padding: 2em;
}

@media screen and (max-width: 1000px) and (min-width: 851px) {
  #menu {
    min-height: 80vh;
    max-height: 100vh;
    display: block;
    position: fixed;
  }

  .nav-item {
    font-size: 7vw;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    display: inline;
    cursor: pointer;
    font-weight: 700;
  }

  #menu-footer {
    position: fixed;
    bottom: 5vh;
    left: 5vw;
    display: flex;
    color: #fff;
    flex-direction: row;
    padding-top: 2vh;
    align-items: center;
    justify-content: space-between;
  }

  .menu-footer-section {
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1.8vw;
    line-height: normal !important;
    width: 100%;
  }
}

@media screen and (max-width: 850px) and (min-width: 651px) {
  #menu {
    min-height: 80vh;
    max-height: 100vh;
    display: block;
    position: fixed;
  }

  .nav-item {
    font-size: 8vw;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    display: inline;
    cursor: pointer;
    font-weight: 700;
  }

  .menu-footer-section {
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 2vw;
    line-height: normal !important;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .nav-item {
    font-size: 11vw;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    display: inline;
    cursor: pointer;
    font-weight: 700;
  }

  #menu {
    display: flex;
    gap: 2vh;
    width: 100%;
    flex-wrap: wrap-reverse;
    align-items: unset;
    min-height: 80vh;
    max-height: 100vh;
  }

  #menu-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    gap: 3vh;
    bottom: 2vh;
    left: 0;
  }

  .menu-footer-section {
    display: inline-block;
    color: #fff;
    flex-direction: column;
    font-size: 2.5vw;
    line-height: normal !important;
    width: 100%;
    justify-content: flex-end;
    text-align: right;
    font-size: 3vw;
    line-height: normal !important;
    padding: 0;
  }
}

@media screen and (max-width: 420px) {
  .nav-item {
    font-size: 13vw;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    display: inline;
    cursor: pointer;
    font-weight: 700;
  }

  .menu-footer-section {
    font-size: 4.8vw;
    line-height: normal !important;
  }
}

/* Sections */
section {
  padding: 9vh 8vw 0 8vw;
}

section h3 {
  max-width: 100%;
  color: #000;
  font-size: 4vw;
  margin-bottom: 2vh;
}

section h3:hover {
  font-style: italic;
}

/* Flower */
#flower {
  position: fixed;
  top: 0;
  width: 30vw;
  right: 0;
  height: 100vh;
  z-index: -1;
  /* background-image: url("img/flower1.png"); */
  background-repeat: no-repeat;
}

/* Home */
#home {
  background-size: cover;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  max-height: 90vh;
  height: auto;
  gap: 2vw;
  width: 75%;
}

.big-left-text {
  font-size: 5.5vw;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2vw 0 1vw 0;
  width: 75%;
  line-height: 6.5vw;
}

section h2 {
  font-style: italic;
  font-size: 300%;
  font-weight: 300;
}

@media screen and (max-width: 1000px) and (min-width: 601px) {
  .big-left-text {
    font-size: 9.5vw;
    padding: 3vw 0;
    width: 75vw;
    line-height: 11vw;
  }
  #home {
    padding-top: 5vh;
    padding-bottom: 0;
    margin-bottom: 0;
    max-height: 90vh;
    min-height: 30vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    gap: 2vw;
    width: 100vw;
  }
}

@media screen and (max-width: 600px) and (min-width: 401px) {
  #home {
    width: 100vw;
    padding-top: 5vh;
    padding-bottom: 2vh;
    margin-bottom: 0;
    max-height: 80vh;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    gap: 2vw;
  }
  .big-left-text {
    font-size: 12vw;
    padding: 2.2vw 0;
    width: 100vw;
    line-height: 16vw;
  }
  #home h2 {
    font-size: 7vw;
  }
}

@media screen and (max-width: 400px) {
  #home {
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 2vh;
    margin-bottom: 0;
    max-height: 80vh;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    gap: 2vw;
  }
  .big-left-text {
    font-size: 15vw;
    padding: 2vh 0 0 0;
    width: 100%;
    line-height: 20vw;
  }
  #home h2 {
    font-size: 7vw;
  }
}

/* Image Slideshow */
#slideshow {
  padding-top: 5vh;
  width: 100%;
  padding-bottom: 4vh;
}

.fuckingShitAssPicture {
  width: 100%;
  max-height: 90vh;
}

.fuckingShitAssPicture img {
  width: 100%;
  padding-bottom: 2vh;
}

@media screen and (max-width: 1300px) and (min-width: 651px) {
  .fuckingShitAssPicture {
    width: 100%;
    padding-bottom: 0;
    min-height: 60vh;
  }
}

@media screen and (max-width: 650px) {
  .fuckingShitAssPicture {
    width: 100%;
    padding-bottom: 0;
    min-height: 40vh;
  }
}

/* Services */
#services {
  height: 120vh;
  font-size: 5.5vw;
}

@media screen and (max-width: 850px) {
  #services h3 {
    font-size: 8vw;
  }
}

#services div {
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.services-container {
  display: flex;
  gap: 1ex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 5vh;
}

@media screen and (max-width: 900px) {
  .services-container {
    display: flex;
    gap: 1ex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 3vh;
  }
}

.services-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #fff;
  border: 1px solid #000;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .services-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    background: #fff;
    border: 1px solid #000;
    padding: 0;
  }
}

.service-description {
  border: none;
}

/* About */
#about p {
  line-height: 1.5;
  color: #000;
}

.about-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 2em 0;
}
.about-card img {
  max-width: 50%;
}

.about-card div {
  max-width: 50%;
  text-align: justify;
}

.about-card h4 {
  margin-top: 0;
}

#maya {
  padding-left: 5vw;
  padding-right: 0;
}

#maya h4 {
  text-align: right;
  margin-top: 0;
}

#nomi {
  padding-right: 5vw;
  padding-left: 0;
}

/* Contact */
#contact form {
  max-width: 600px;
  margin: 0 auto;
}

#contact label {
  display: block;
  margin-top: 20px;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #bcd0ca;
  border-radius: 4px;
}

#contact input[type="submit"] {
  background-color: #f8721b;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 20px;
}

/* Let's Get Started */

#lets-get-started {
  width: 100%;
  min-height: 85vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}

#slogan h1.big-left-text {
  font-weight: 200 !important;
}

#cta {
  text-align: right;
  max-width: 20vw;
}

#cta a h3 {
  line-height: 5vw;
  font-weight: 600;
  font-size: 4vw;
  font-style: italic;
  padding-right: 2vw;
  margin-right: 2vw;
}

@media screen and (max-width: 1000px) and (min-width: 601px) {
  #lets-get-started {
    width: 100%;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap !important;
    padding-top: 3vh;
  }

  #cta {
    padding-top: 15vh;
    text-align: center;
    max-width: 80vw;
  }

  #cta a h3 {
    font-weight: 600;
    font-size: 6vw;
    font-style: italic;
    line-height: normal;
  }
}

@media screen and (max-width: 600px) {
  #lets-get-started {
    width: 100%;
    margin-top: 5vh;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 3vh;
    line-height: normal;
  }

  #slogan h1.big-left-text {
    font-size: 12vw;
    width: 100%;
    line-height: normal;
  }

  #cta {
    padding-top: 15vh;
    text-align: right;
    max-width: 100vw;
  }

  #cta a h3 {
    font-weight: 600;
    font-size: 10vw;
    font-style: italic;
    line-height: normal;
  }
}

/* Footer */
footer {
  margin-top: 8vh;
  background-color: #fff;
  text-align: center;
  padding-top: 1vh;
  padding-right: 1vw;
  padding-bottom: 2vh;
  padding-left: 1vw;
  color: rgba(0, 0, 0, 0.8);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 1vw;
  font-weight: 100;
}

@media screen and (max-width: 1000px) and (min-width: 401px) {
  footer {
    margin-top: 8vh;
    background-color: #fff;
    text-align: center;
    padding-top: 1vh;
    padding-right: 1vw;
    padding-bottom: 2vh;
    padding-left: 1vw;
    color: rgba(0, 0, 0, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    font-weight: 100;
  }
}

@media screen and (max-width: 400px) {
  footer {
    margin-top: 8vh;
    background-color: #fff;
    text-align: center;
    padding-top: 1vh;
    padding-right: 1vw;
    padding-bottom: 2vh;
    padding-left: 1vw;
    color: rgba(0, 0, 0, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    font-weight: 100;
  }
}
